*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* variables */
:root{
    --light-bg : rgb(252, 248, 248);
    --light-font : black;
    --lightBorder : black;
}
/* dark theme  */
.dark-theme{
    --light-bg : #1D1D1D;
    --light-font : white;
    --lightBorder : white;
    transition: .3s ease-in-out;
}

body{
    background-color: var(--light-bg);
}
/* theme switch button */
.switch{
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .3s ease-in-out;
    box-shadow:
  6.3px 5.8px 10px rgba(0, 0, 0, 0.19),
  50px 46px 80px rgba(0, 0, 0, 0.095)
;
}

.light-theme{
    position: relative;
    background-color: var(--light-bg);
    color:var(--light-font);
    /* border: 2px solid var(--lightBorder ); */
    width: 95%;
    height: 250px;
    margin: 10px auto;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    transition: .3s ease-in-out;
    box-shadow:
    6.3px 5.8px 10px rgba(0, 0, 0, 0.19),
    50px 46px 80px rgba(0, 0, 0, 0.095)
  ;
}
.light-theme p{
    font-size: 20px;
}

/* button style  */
button{
    cursor: pointer;
    background-color: var(--light-bg);
    color: var(--light-font );
    /* border: 2px solid var(--lightBorder); */
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px;
}
